$ml-12: 0.75rem; // margin-left 12px
$mr-12: 0.75rem; // margin-right 12px
$pl-12: 0.75rem; // padding-left 12px
$pr-12: 0.75rem; // padding-right 12px
$pt-15: 0.9375rem; // padding-top 15px
$pb-15: 0.9375rem; // padding-bottom 15px
