.ui.container {
  width: 1300px;
}
.landingContainer {
  height: 720px;

  .vectorContainer {
    display: block;
    margin: auto;
  }
}
.technology {
  height: 80vh;
  background-color: #f7f7f7;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #6a6d70;
  }

  .ecommerceShowCase {
    height: 96vh;
    // background: #ffffff !important;
  }
}
